<form action='/login' method='post' class="container-fluid">
  <input name='username' input type="text"     placeholder="username" autofocus>
  <input name='password' input type="password" placeholder="password" autofocus>
  <input class="btn primary" type='submit' value='log in'>
</form>
