 <link href="../static/lib/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

      .container-fluid {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
      }
      .container-fluid input[type="text"],
      .container-fluid input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
	}
	.container-fluid input[type="submit"] {
		height: auto;
		margin-bottom: 10px;
		padding: 15px 17px;
	}
</style>
<div class="container">
<form action='/passwd' method='post' class="container-fluid">
  <input name='newpassword' input type="password"     placeholder="newpassword" autofocus>
  <input name='cnewpassword' input type="password" placeholder="confirmnewpassword" >
  <input class="btn" type='submit' value='submit' >
</form>
</div>
