<script type="text/javascript" src="/lib/bootstrap/js/jquery.complexify.js"></script>
<script src="/lib/bootstrap/js/script.js"></script>  
<link href="../static/lib/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

      .container-fluid {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
      }
      .container-fluid input[type="text"],
      .container-fluid input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
	}
	.container-fluid input[type="submit"] {
		height: auto;
		margin-bottom: 10px;
		padding: 15px 17px;
	}
</style>
 <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="/">
              LDAP MANAGER
            </a>
        <ul class="nav nav-pills">
          <li class="dropdown" id="menu1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
           Auto-reply
           <b class="caret"></b>
          </a>
         <ul class="dropdown-menu">
           <li><a href="/reply">Enable</a></li>
           <li><a href="/disable">Disable</a></li>
         </ul>
         </li>
        </ul>

        <ul class="nav">
              <li><a href="/passwd">Change Password</a></li>
              <li><a href="/logout">Logout</a></li>
             </ul>
        </div>
      </div>
    </div>


  </body>
<div class="container">
<form action='/passwd' method='post' class="container-fluid">
  <input name='newpassword' input type="password" id="password" placeholder="newpassword" autofocus>
  <input name='cnewpassword' input type="password" placeholder="confirmnewpassword" >
   <span id="result"></span>
  <input class="btn" type='submit' value='submit' >
</form>
</div>
