<!DOCTYPE html>
<html>
  <head>
  	<title>User CPanel</title>
    <script src="/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              User CPanel
            </a>

            <ul class="nav">
              <li><a href="/change">Auto-Reply</a></li>
	      <li><a href="/passwd">Change Password</a></li>
	      <li><a href="/logout">Logout</a></li>
     	     </ul>

        </div>
      </div>
    </div>
<form method="post" action="/reply">
	<input type="checkbox" style="margin: 50px 50px" value="checked">Enable Auto-Reply	
<textarea name="comments" cols="25" rows="5" style="margin: 100px -110px 11px;">
Enter your message here...
</textarea><br>
<input type="submit" style="margin: 10px 60px 11px" value="Submit" />
</form>

  </body>
</html>
